$label: #363636;
$allTextsBorder: #dfdfdf;
$allHeaders: #051c25;
$black: #000;
$white: #fff;
$red: #e30024;
$submit: #ffc000;
$thBackground: #f3f3f4;
$thColorText: #6e6e6e;
$thBorder: #dddddd;
$shadowContainer: #00000014;
$borderOnEachProduct: #cbcbcb;
