@import "./colors";

table {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 0 auto;
}

td,
th {
  border: 1px solid $thBorder;
  text-align: left;
  padding: 0.3125rem;
  text-align: -webkit-right;

  input[type="number"] {
    width: 2.5rem;
  }
  input[type="color"] {
    width: 1.875rem;
  }
  input,
  textarea,
  select {
    width: 5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    resize: none;
    direction: rtl;
  }
}

th {
  background: $thBackground;
  color: $thColorText;
}

.remove-trash-td {
  width: min-content;
  :hover {
    color: $red;
  }
  .remove-trash-icon {
    font-size: 1.5625rem;
    transition: color 0.2s ease;
    cursor: pointer;
  }
}
