@import "../../common/style/functions.scss";

$margin: 1.25rem 0 1.875rem 0;

.golden-tape-form-header {
  @include flex();
  text-align: center;

  img {
    width: 15rem;
    margin: 0 auto;
  }

  h1 {
    font-size: 1.8rem;
    margin: 0 0 1.875rem 0;
  }
}
