.business-details-container {
  margin-bottom: 1.875rem;

  .business-details-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;

    .form-control-date {
      width: 110px;
    }
  }
}

@media only screen and (min-width: 593px) {
  .business-details-container {
    .business-details-header {
      flex-direction: row;
      align-items: center;
    }
    .white-container {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}
