@import "./common/style/_colors.scss";
/* Basic setup */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

/* General rules */
.form-control {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;

    .form-control-date {
        width: 13rem !important;
    }

    label {
        font-size: 1.5rem;
        color: $label;
        font-weight: 600;
    }

    input,
    select,
    textarea,
    fieldset {
        border: 1.5px solid $allTextsBorder;
        padding: 9px;
        outline: none;
        direction: rtl;
        width: -webkit-fill-available;
        font-size: 1.6rem;
        resize: none;
    }
}

h3 {
    font-size: 2.2rem;
    direction: rtl;
}

h1,
h2,
h3 {
    color: $allHeaders;
}

button {
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background: $label;
        color: $white;
        border: 1px solid $label;
    }
}
