@import "./common/style/_colors.scss";
@import "./common/style/functions.scss";
/* Basic setup */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* General rules */
.form-control {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 3px;

    label {
        font-size: 0.9375rem;
        color: $label;
        font-weight: 600;
    }

    input,
    select,
    textarea,
    fieldset {
        @include inputSetUp();
    }
}

h3 {
    font-size: 24px;
    text-align: right;
}

h1,
h2,
h3 {
    color: $allHeaders;
}
