/* Basic setup */
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body{

    button{
        transition: transform .2s;
        &:hover{
            transform: scale(1.15);
        }
    }
}
