@import "../../common/style/_colors.scss";
@import "../../common/style/functions.scss";

$margin: 1.25rem 0 1.875rem 0;
$padding: 1.25rem;

.white-container {
  background: $white;
  box-shadow: 0px 0px 34px $shadowContainer;
  @include flex();
  margin: $margin;
  padding: $padding;
}

.golden-tape-form-container {
  @include flex();
  padding-top: 1.5625rem;
  max-width: 42.5rem;
  margin: 0 auto;

  form {
    padding: $padding;

    .product-container {
      .products-list-for-small-screens {
        border: 1px solid $borderOnEachProduct;
        padding: $padding;
        @include flex();
      }
    }

    .message {
      @include inputSetUp();
      margin-bottom: 1.25rem;
    }

    .submit {
      @include button();
      font-size: 1.25rem;
      display: block;
      background: $submit;
      border: none;
      margin: 0 auto;
      width: 9.375rem;
      padding: 10px;
      &:hover {
        background-color: darken($color: $submit, $amount: 5%);
      }
    }
  }
}

.remove-trash-td {
  width: min-content;
  :hover {
    color: $red;
  }
  .remove-trash-icon {
    font-size: 1.5625rem;
    transition: color 0.2s ease;
    cursor: pointer;
  }
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 0 auto;

  .owners-table {
    width: 100%;
  }
}

td {
  select {
    width: 76px !important;
  }
}

td,
th {
  border: 1px solid $thBorder;
  text-align: left;
  padding: 0.3125rem;
  text-align: -webkit-right;

  input,
  textarea,
  select {
    font-size: 1rem;
    border: none;
    outline: none;
    resize: none;
    direction: rtl;
    font-family: unset;
    width: 100%;
  }
}

th {
  background: $thBackground;
  color: $thColorText;
}

.add-product {
  border: 1.5px solid $black;
  background-color: $white;
  font-size: 1rem;
  &:hover {
    background: $label;
    color: $white;
    border: 1.5px solid $label;
  }
  @include button();
}

@media only screen and (min-width: 550px) {
  input[type="number"],
  input[type="color"],
  input,
  textarea {
    width: 100% !important;
  }

  td {
    select {
      width: 76px !important;
    }
  }
}
