@import "../../common/style/_colors.scss";
@import "../../common/style/functions.scss";

$margin: 1.25rem 0 1.875rem 0;
$padding: 1.25rem;

.golden-tape-form-container {
  @include flex();
  padding-top: 1.5625rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  max-width: 42.5rem;
  margin: 0 auto;

  .golden-tape-form-header {
    @include flex();
    text-align: center;

    img {
      width: 8.125rem;
      margin: 0 auto;
    }

    h1 {
      font-size: 1.56rem;
    }

    h2 {
      font-size: 1.8rem;
      margin: $margin;
    }
  }

  form {
    padding: $padding;

    .business-details-container {
      margin-bottom: 1.875rem;

      .business-details-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;

        .form-control-date {
          width: 110px;
        }
      }
    }

    .description-of-the-request-container {
      .products-list-for-small-screens {
        border: 1px solid $borderOnEachProduct;
        padding: $padding;
        @include flex();
      }
    }

    .message {
      @include inputSetUp();
      margin-bottom: 1.25rem;
    }

    .submit {
      @include button();
      font-size: 1.25rem;
      display: block;
      background: $submit;
      border: none;
      margin: 0 auto;
      width: 9.375rem;
      padding: 10px;
    }
  }
}

.remove-trash-td {
  width: min-content;
  :hover {
    color: $red;
  }
  .remove-trash-icon {
    font-size: 1.5625rem;
    transition: color 0.2s ease;
    cursor: pointer;
  }
}

table {
  border-collapse: collapse;
  font-size: 1rem;
  margin: 0 auto;
}

td,
th {
  border: 1px solid $thBorder;
  text-align: left;
  padding: 0.3125rem;
  text-align: -webkit-right;

  input[type="number"] {
    width: 2.5rem;
  }
  input[type="color"] {
    width: 1.875rem;
  }
  input,
  textarea,
  select {
    width: 5rem;
    font-size: 1rem;
    border: none;
    outline: none;
    resize: none;
    direction: rtl;
  }
}

th {
  background: $thBackground;
  color: $thColorText;
}
.add-product {
  border: 1.5px solid $black;
  background-color: $white;
  font-size: 1rem;
  &:hover {
    background: $label;
    color: $white;
    border: 1.5px solid $label;
  }
  @include button();
}

.white-container {
  background: $white;
  box-shadow: 0px 0px 34px $shadowContainer;
  @include flex();
  margin: $margin;
  padding: $padding;
}

@media only screen and (min-width: 550px) {
  textarea {
    width: 100% !important;
  }

  .business-details-container {
    .white-container {
      flex-direction: row-reverse;
      flex-wrap: wrap;
    }
  }
}
