@import "../../common/style/_colors.scss";
@import "../../common/style/_functions.scss";
@import "../../common/style/_variables.scss";

.white-container {
  background: $white;
  box-shadow: 0px 0px 34px $shadowContainer;
  @include flex();
  margin: $margin;
  padding: $padding;
}

.golden-tape-form-container {
  @include flex();
  padding-top: 1.5625rem;
  max-width: 46.5rem;
  margin: 0 auto;

  $margin: 1.25rem 0 1.875rem 0;

  form {
    padding: $padding;
  }
}

@media only screen and (min-width: 550px) {
  textarea {
    width: 100% !important;
  }
}
